/*Main Container*/
.main {
  text-align: center;
}

/*Game Instruction Text*/
#ins {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: dodgerblue;
  font-weight: bold;
}

/*Heading*/
h1 {
  color: darkmagenta;
  font-size: 50px;
}

/* 3*3 Grid */

#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
  width: 90px;
  height: 60px;
  margin: auto;
  border: 2px solid gray;
  border-radius: 5px;
  font-size: 25px;
  text-align: center;
}

/* reset button*/

#btn {
  box-sizing: border-box;
  width: 90px;
  height: 50px;
  border: 2px solid darkgreen;
  margin: auto;
  border-radius: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: lightgreen;
  color: black;
  font-size: 15px;
  cursor: pointer;
}
/*Player turn space*/
#print {
}
